<!DOCTYPE html>
<html>
<head>
  <title>MyCarParts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</head>
<body style="background: #EEEEEE;">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "OneCarBrakePads", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", 'root_path', class: "navbar-button" %></li>
          <li><%= link_to "Login", 'login_path', class: "navbar-button" %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
